{% extends "AppFutbolArg/Inicio.html" %}
{% load static %}
<title>{% block title %}Equipos Argentinos | Liga Argentina 2023{% endblock %}</title>
{% block contenidoQueCambia %}
{% if equipo %}
    <div class="container mt-5 margenPosiciones">
        <h2 style="color: darkblack; font-weight: bold">Resultado de la búsqueda:</h2>
        <table id="posiciones" class="tablesorter1">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fundación</th>
                    <th scope="col">Ligas Ganadas</th>
                </tr>
            </thead>
            <tbody>
                {% for equipo_obj in equipo %}
                    <tr style="color: white">
                        <td>{{ equipo_obj.nombre }}</td>
                        <td> {{ equipo_obj.fundacion|date:"d/m/Y" }}<p>(dd/mm/aa)</p> </td>
                        <td>{{ equipo_obj.ligasGanadas }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="container mt-5 margenPosiciones" >
        <h2>No se encontraron equipos</h2>
        <p>Utiliza la imagen como guía para ingresar correctamente el nombre</p>
        <a class="btn btn-primary" href="{% url 'Equipos' %}">Regresar</a>
    </div>
{% endif %}
{% endblock %}
